<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Hii Kunal Patil</ion-title>
    <!-- <img src="assets/man.png" alt="" width="50%" height="50%"> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="pl-1 pr-1">
      <ion-col size="6" align="left">
        <ion-label style="font-size: small"><b>From :</b> Rajkamal Chowk</ion-label>
      </ion-col>
      <ion-col size="6" align="right">
        <ion-label style="font-size: small"><b>To :</b> Rathi Nagar</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="bg">

    <ion-row>
      <ion-col size="2">
        <img src="assets/master.png" alt="">
      </ion-col>

      <ion-col size="10">
        <ion-label class="text-white"><b>Name : Sagar Patil</b></ion-label><br>
        <ion-row>
          <ion-col size="6">
            <p><span class="text-white text-xs "><b>Pick Up : </b> </span><span class="text-xs text-gray-200">Dastur
                Nagar</span><br>
            </p>
          </ion-col>
          <ion-col size="6">
            <p><span class="text-white text-xs "><b>Drop Off : </b> </span><span class="text-xs text-gray-200">Rathi
                Nagar</span><br>
            </p>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: -5%;">
          <ion-col size="8">
            <!-- <ion-label style="margin-top: 10%;" class="text-white"><b>Mobile No. : 9565656565</b></ion-label> -->
          </ion-col>
          <ion-col size="2">
            <span style="margin-left: 5%;">
              <div class="p-1 bg-white rounded-md shadow-md" align="center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-500" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </div>
            </span>
          </ion-col>
          <ion-col size="2">
            <span style="margin-left: 5%;">
              <div class="p-1 bg-white rounded-md shadow-md" align="center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-red-500" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
                </svg>
              </div>
            </span>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>

  </ion-card>

  <!-- <ion-card class="bg">
    <ion-row>
      <ion-col size="2">
        <img src="assets/master.png" alt="">
      </ion-col>
      <ion-col size="6">
        <ion-label class="text-white"><b>Sagar Patil</b> <br>
          <p><span class="text-white text-xs "><b>Pick Up : </b> </span><span class="text-xs text-gray-200">Dastur
              Nagar</span><br>
          </p>
          <p><span class="text-white text-xs "><b>Drop Off : </b> </span><span class="text-xs text-gray-200">Rathi
              Nagar</span><br>
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <span style="margin-left: 5%;">
            <div class="p-1 bg-white rounded-md shadow-md" align="center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-500" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </div>
          </span>
          &nbsp;&nbsp;
          <span style="margin-left: 5%;">
            <div class="p-1 bg-white rounded-md shadow-md" align="center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-red-500" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </div>
          </span>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <ion-card class="bg1">
    <ion-row class="p-1">
      <ion-col size="2">
        <img src="assets/master.png" alt="">
      </ion-col>
      <ion-col size="10">
        <ion-label class="text-white"><b>Mayur Wankhade</b> <br>
          <p><span class="text-white text-xs "><b>Pick Up : </b> </span><span class="text-xs text-gray-200">Railway
              Station Amravati</span><br>
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="6"> </ion-col>
      <ion-col size="6" align="right">
        <button size="small" color="light"
          style="font-size: small; padding: 2px; border: 1px solid #fff; border-radius: 2px; color: #fff;">
          <ion-icon name="thumbs-up-outline"></ion-icon>&nbsp;Complete Ride
        </button>&nbsp;
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="bg2">
    <ion-row>
      <ion-col size="2">
        <img src="assets/master.png" alt="">
      </ion-col>
      <ion-col size="10">
        <ion-label class="text-white"><b>Dinesh Tale</b> <br>
          <p><span class="text-white text-xs "><b>Drop Off : </b> </span><span class="text-xs text-gray-200">Rathi
              Nagar, Amravati</span><br>
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>


  <!-- <ion-card class=" border-l-4 border-red-500">
    <ion-row>
      <ion-col size="2">
        <img src="assets/master.png" alt="">
      </ion-col>
      <ion-col size="6" class="pr-3">
        <ion-label class="text-black"><b>Awes Khan</b> <br>
          <p><span class="text-red-500 text-xs">Address: </span><span class="text-xs">Dastur Nagar
              Amravati.</span><br>
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <span>
            <div class="p-1" align="center">
              <ion-label class="text-black"><b>₹ 190</b></ion-label>
            </div>
          </span>
          <span>
            <div class="p-1" align="center">
              <ion-label>3.5km</ion-label>
            </div>
          </span>
        </ion-row>
        <ion-row>
          <span style="margin-left: 5%;" routerLink="/pickup">
            <div class="p-1 bg-green-500 rounded-md shadow-md" align="center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd" />
              </svg>
            </div>
          </span>
          &nbsp;&nbsp;
          <span style="margin-left: 5%;">
            <div class="p-1 bg-red-500 rounded-md shadow-md" align="center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </div>
          </span>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card> -->

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/logout">
    <ion-fab-button color="primary">
      <ion-icon name="log-out" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<div class="flex justify-between bg-white">
  <div>
    <ion-tab-button tab="music" routerLink="/requests">
      <ion-label><b>Home</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500; margin-top: 2;" color="danger" name="home"></ion-icon>
    </ion-tab-button>
  </div>

  <div>
    <ion-tab-button tab="games" routerLink="/history">
      <ion-label><b>History</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500;" color="danger" name="newspaper"></ion-icon>
    </ion-tab-button>
  </div>

  <div>
    <ion-tab-button tab="games" routerLink="/payment">
      <ion-label><b>Payment</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500;" color="danger" name="reader"></ion-icon>
    </ion-tab-button>
  </div>

  <div>
    <ion-tab-button tab="games" routerLink="/profile">
      <ion-label><b>Profile</b></ion-label>
      <ion-icon style="font-size: 15px; font-weight: 500;" color="danger" name="person"></ion-icon>

    </ion-tab-button>
  </div>
</div>
