<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pickup"></ion-back-button>
    </ion-buttons>
    <ion-title>Pick up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <!-- <div>
    <img src="assets/map.jpg" alt="" width="100%" height="50%">
  </div> -->



</ion-content>

<div class="rounded-tl-3xl  shadow-2xl  p-2">
  <ion-row class="border-b-2 border-dashed border-gray-300">
    <ion-col size="2">
      <img src="assets/master.png" alt="">
    </ion-col>
    <ion-col size="6" class="pr-3">
      <ion-label class="text-black"><b>Ashwini Talware</b> <br>
        <p><span class="text-red-500 text-xs">Address: </span><span class="text-xs">7898, Swati village
            Amravati.</span><br>
          <!-- <span class="text-green-400 text-xs">Date : </span><span class="text-xs">20
            June 2021</span> -->
        </p>
      </ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-row>
        <span>
          <div class="p-1" align="center">
            <ion-label class="text-black"><b>₹ 100</b></ion-label>
          </div>
        </span>
        <span>
          <div class="p-1" align="center">
            <ion-label>2.5km</ion-label>
          </div>
        </span>
      </ion-row>
      <!-- <ion-row>
        <span style="margin-left: 5%;" routerLink="/pickup">
          <div class="p-1 bg-green-500 rounded-md shadow-md" align="center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </span>
        &nbsp;&nbsp;
        <span style="margin-left: 5%;">
          <div class="p-1 bg-red-500 rounded-md shadow-md" align="center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd" />
            </svg>
          </div>
        </span>
      </ion-row> -->
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <div class="text-center">
        <p class="text-sm text-gray-400 mt-4">EST<br><span class="text-base text-black">5 min</span></p>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="text-center">
        <p class="text-sm text-gray-400 mt-4">Distance<br><span class="text-base text-black">2.2 Km</span></p>
      </div>
    </ion-col>
    <ion-col size="4">
      <div class="text-center">
        <p class="text-sm text-gray-400 mt-4">Fare<br><span class="text-base text-black">₹ 100</span></p>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4">
      <div
        class="p-2 bg-white hover:bg-blue-100 text-center border-2 border-dashed border-red-200 rounded-xl shadow-md">
        <ion-icon name="call-outline"></ion-icon><br>
        <ion-label>Call</ion-label>
      </div>
    </ion-col>
    <ion-col size="4">
      <div
        class="p-2 bg-white hover:bg-blue-100 text-center border-2 border-dashed border-blue-200 rounded-xl shadow-md">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon><br>
        <ion-label>Message</ion-label>
      </div>
    </ion-col>
    <ion-col size="4">
      <div
        class="p-2 bg-white hover:bg-blue-100 text-center border-2 border-dashed border-yellow-200 rounded-xl shadow-md">
        <ion-icon name="trash-outline"></ion-icon><br>
        <ion-label>Cancel</ion-label>
      </div>
    </ion-col>
  </ion-row>
</div>

<!-- <div class="flex justify-between rounded-tr-3xl  rounded-tl-3xl  shadow-2xl footer_div"> -->


<!-- <div><img src="assets/master.png" class="h-40 w-40" alt=""></div>
  <div>2</div>
  <div>3</div>

  <div class="flex justify-start border-b-2 border-gray-200 border-dashed">
    <img src="assets/master.png" class="h-40 w-40" alt=""><br>
    <p class="text-sm text-gray-300 mt-4">Pickup at<br><span class="text-base text-black">Niklesh Joshi</span></p>
  </div>
</div> -->

<!-- <div class="bg-gray-50 rounded-tr-xl rounded-tl-xl shadow-lg p-2">
  <div class="flex justify-start border-b-2 border-gray-200 border-dashed">
    <img src="assets/master.png" class="h-50 w-50" alt=""><br>
    <p class="text-sm text-gray-300 mt-4">Pickup at<br><span class="text-base text-black">Niklesh Joshi</span></p>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <div class="text-center">
          <p class="text-sm text-gray-300 mt-4">EST<br><span class="text-base text-black">5 min</span></p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="text-center">
          <p class="text-sm text-gray-300 mt-4">Distance<br><span class="text-base text-black">2.2 Km</span></p>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="text-center">
          <p class="text-sm text-gray-300 mt-4">Fare<br><span class="text-base text-black">₹ 100</span></p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="p-5">
    <ion-button expand="block" color="danger">
      Drop Off&nbsp; <ion-icon class="shake-horizontal ml-3" color="light" slot="end" name="arrow-forward-outline">
      </ion-icon>
    </ion-button>
  </div>-->
<!-- </div> -->
